*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(34, 33, 33);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px;
    min-height: 100vh;
}

.head{
     display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.num{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
    align-items: center;
    gap: 10px;
}
.proj{
    font-size: smaller;
    margin-left: 10px;
}
h2{
    margin-top: 10px;
    margin-left: 10px;
}
.card{
    background-color: rgb(67, 66, 66);
    width: 180px;
    height: 100px;
    border-radius: 20px;
}
.img{
    width: 150px;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 20px;
}
.purple{
    color: rgb(255, 85, 0);
    font-weight: 400;
    margin-top: 16px;
}
 .main-layout {
  display: flex;
  margin-left: 13%;
  gap: 11px;
}

.grid {
  width: 70%;
}

.grid2 {
  width: 80%;
}
.port{
    margin-top: 10px;
    background-color: rgb(67, 66, 66);
    width: 99%;
    height:350px;
    border-radius: 20px;
    /* margin-left: 100%; */
}

p{
    color: rgb(255, 255, 255);
    margin-left: 15px;
    margin-bottom: 7px;
}
h3{
    margin-left: 15px;
    margin-bottom: 10px;
    font-size: 20px;
}
span{
    color: rgb(255, 85, 0);
}
label{
    background-color: rgb(91, 90, 90);
    margin-left: 10px;
    border-radius: 12px;
    padding: 7px;
    font-size: smaller;
}
h5{
    margin-top: 13px;
    margin-left: 13px;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}

.grid2{
     display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-auto-columns: 400px;
}
.client{
  background-color: rgb(67, 66, 66);
   border-radius: 20px;
   width: 370px;
   height: 160px;
   padding: 6px;
   margin-top: 10px;
}
a{
  color: rgb(243, 123, 243);
  margin-left: 20px; 
}

.test{
    background-color: rgb(67, 66, 66);
    width: 180px;
    height: 450px;
    margin-top: 10px;
    border-radius: 10px;
    padding: 2px;
}
button{
    background-color: rgb(90, 90, 90);
    border: none;
    width: 159px;
    height: 50px;
    color: white;
    border-radius: 10px;
   margin-bottom: 10px;
   margin-left: 9px;
}
.work{
   background-color: rgb(67, 66, 66);
   width: 180px;
   height: 450px;
   margin-top: 10px;
   border-radius: 10px;
   margin-left: 6px;
}
ul{
    margin-left: 50px;
}

.follow{
   background-color: rgb(67, 66, 66);
   width: 180px;
   margin-top: 10px;
   border-radius: 10px;
   height: 170px;
}
.email{
    background-color: rgb(67, 66, 66);
   width: 180px;
   margin-top: 10px;
   border-radius: 10px;
   height: 170px;
   margin-left: 10px;
}
.me{
    background-color:  rgb(255, 85, 0);
    height: 40px;
    width: 90%;
}
.time{
    background-color: white;
    color: black;
  width: 250px;
  border-radius: 3px;
}

@media (max-width: 768px) {
  .main-layout {
    flex-direction: column;
  }

  .grid,
  .grid2 {
    width: 100%;
  }
}
