* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.container {
    height: 300px;
    width: 200px;
    position: relative;
}
.card {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    color: white;
    border: 2px solid #333;
    text-align: center;
    align-content: center;
    font-size: 2rem;
    transition: transform 0.4s ease;
}
.c1 {
    background: #1a1a1a;
    z-index: 3;
}
.c2 {
    background: #2a2a2a;
    z-index: 2;
}
.c3{
    background: #3a3a3a;
    z-index: 1;
}
.container:hover .c1{
    transform: translate(-30px, -20px ) rotate(-5deg);
}
.container:hover .c3{
    transform: translate(0, 0 );
}
.container:hover .c3{
    transform: translate(30px, 20px ) rotate(5deg);
}