* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    gap: 15px;
    width: 80%;
    position: relative;
}
.box {
    font-size: 25px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: rgb(255,255,255);
    flex: 1;
    height: 150px;
    display: flex;
    position: static;
}
.box1 {
    background-color: aqua;
}
.box2 {
    background-color: yellow;
    position: relative;
    top: -20px;
    left: 50px;
}
.box3 {
    background-color: blue;
    position: absolute;
    left: 50px;
    top: -50px;
}