



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background:rgb(37, 53, 37);
  color: whitesmoke;
}

.why {
  text-align: center;
  padding: 85px ;
}

.why h2 {
  font-size: 40px;

}

.scr {
  color: #989b9f;
  max-width: 600px;
  margin: 0 auto 60px;
  
}

.shiva {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 30px;
}

.card {
  background:rgb(18, 18, 45);
  padding: 35px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
 
}


.icon {
  width: 55px;
  height: 55px;
  margin: 0 auto 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.icon.blue { background: #1e3a8a; }
.icon.green { background: #065f46; }
.icon.yellow { background: #92400e; }
.icon.purple { background: #5b21b6; }

.card h3 {
  margin-bottom: 12px;
  font-size: 20px;
}

.card p {
  color: #cbd5e1;
  font-size: 14px;
  line-height: 1.6;
}

























