*{
    margin: 0;
    padding: 0;
box-sizing: border-box;

}

body{
    font-family: sans-serif;
color: white;
/* height: 100vh; */
}

nav{
    background: rgba(0, 0, 0, 1);
    padding: 10px 20px 0px ;
    font-weight: 900;
    position: fixed;
    width: 100vw;
    top: 0px;
    left: 0px;
}

.label label:first-child{
    color: white;
    font-size: 20px;
}

.label label:last-child{
    color: aqua;
        font-size: 20px;
}


.text{
    height: 100vh;
   display: flex;
   flex-direction: column;
  justify-content: center;
    align-items: center;

}

h1{
    width: 450px;
    font-size: 50px;
    text-align: center;
    font-weight: 600px;
}


p{
    width: 800px;
    color: rgba(255, 255, 255, 0.868);
    font-size: 25px;
    text-align: center;
margin:15px 0px 45px ;
}
.nav{
    display: flex;
    position: relative;
}

.shiva{
    background-color: rgb(55, 53, 53);
    height: 100vh;
    width: 100vw;
}
.menu label:last-child{
    position: absolute;
    border-radius: 50%;
    text-align: center;
    position:relative;
    left: 1000px;
    top: -8px;
    background-color: rgba(80, 74, 74, 0.612);
    height: 10px;
    padding:0px 15px 5px ;
    font-size: 30px;
}

.btn1{
    background-color: rgba(22, 22, 22, 0.667);
    padding: 10px 20px;
    color: rgb(245, 241, 241);
    border: 2px solid rgb(196, 186, 186);
    border-radius: 999px;
}

.btn2{
     background-color:rgba(0, 255, 255, 0.687);
    padding: 10px 20px;
    color: rgb(245, 241, 241);
    border-radius: 999px;
    border: none;
}

#hamburger:checked ~ .shiva {
  overlay: .5;
}
#hamburger:checked ~ .shiva .hamburger{
    visibility: visible;
}


#hamburger:checked ~ .shiva h2{
    transform: rotate(45deg);
}

.hamburger{
    position: absolute;
    top: 42px;
    left: -20px;
    visibility: hidden;
    background-color: rgb(0, 0, 0);
height: 100vh;
width: 300px;
}
#plus{
    opacity: 0;
  height: 45px;
  padding-top: 5px;
    width: 45px;
    background-color: rgb(225, 31, 31);
    position: absolute;
    right: 40px;
    border-radius:50%;
    bottom: 5px;

}


#hamburger:checked ~ .shiva  #plus{
    opacity: 1;
}
#hamburger:checked ~ .shiva  .menu label:last-child{
    opacity: 0;
}


h2{
    font-size: 30px;
    transition: 1s ease-out;
    text-align: center;
    cursor: pointer;
}



#hamburger:checked ~ .shiva .overlay{
    opacity: 1;
}
.overlay{
    inset: 0;
    background: rgba(0, 0, 0, .4);
    opacity: 0;
}


h3{
    margin-left: 30px;
    line-height: 40px;
    /* transition: 1s ease; */
}

h3:hover{
       transition: 1s ease;
    margin-left: 50px;
    color: aqua;
}
.footer{
    background-color: black;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    text-align: center;
    position:absolute;
    width: 100vw;


}
.footer h5{
    color: aqua;
    font-size: 30px;
    display: block;
    width: 10vw;
}
.footer P{
    font-size: 20px;
    width: 10vw;
}
.card{
    height: 100vh;
    background-color: rgba(139, 159, 255, 0.169);
    color: black;
    margin-top: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

pre{
    z-index: 6;
    font-size: 40px;
    text-align: center;
    width: 100vw;

}
#line{
    
    width: 60px;
    height: 6px;
    background-color: aqua;
    line-height: 40px;
    margin-top: 30px;
}

.cont{
    background-color: rgba(255, 255, 255, 0.568);
    border-radius: 20px;
    width: 350px;
    padding: 20px;
    margin: 50px 10px 10px ;
}
.cont p{
    color: rgba(0, 0, 0, 0.461);
    text-align: start;
    width: 310px;
    font-size: 20px;
}

.boxes{
    display:flex;
    
}

h4{
    font-size: 25px;
}