*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    height: 100vh;
    position: relative;
}
.navbar{
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: space-between;
}
.container{
    background: radial-gradient(50% 90% at 50% 50%, #c4e7eb 0%, #baf7ff 35%, #ffffff 75%);
    height: 530px;
    background-color: rgb(19, 16, 16);
    margin-left: 100px;
    
}
a{
    margin-right: 30px;
    font-size: 18px;
    color: black;
    text-decoration: none;
}
.btn{
    margin-right: 20px;
    pad: 7px;
    height: 30px;
    width: 100px;
    border-radius: 25px;
    color: white;
    background-color: black;
    font-size: 15px;
    cursor: pointer;
}
span{
    color: aqua;
}
.sec{
    padding: 20px;
    width: 80%;
    text-align: center;
    justify-items: center;
}
.h1{
    border: 1px solid aqua;
    padding: 7px;
    border-radius: 25px;
    font-size: 15px;
    justify-content: center;
    color: aqua;
    margin-left: 200px;
    margin-top: 50px;
}
.h2{
    font-size: 60px;
    text-align: center;
    position: absolute;
    margin-left: 150px;
}
.card{
    height: 600px;
    width: 1000px;
}
.btns{
    display: flex;
    justify-content: center;
    gap: 20px;
    border-radius: 10px;
    margin-left: 200px;
}
.btn1{
    padding: 17px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    background-color: aqua;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 1px 1px 10px aqua;

}
.btn1:hover{
    transform: translateY(-4px);
}
.btn2{
    padding: 17px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid aqua;
    color: aqua;
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s;
}
.btn2:hover{
    transform: translateY(-4px);
}
.p{
    margin-top: 100px;
    font-size: 19px;
    font-family: sans-serif;
    margin-left: 200px;
}
.sec2{
    height: 500px;
    background: rgb(252, 252, 241);
    justify-items: center;
    align-content: center;
}
.box{
    display: flex;
    gap: 30px;
    
}
.box1{
    height: 250px;
    width: 330px;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
}
.img{
    height: 45px;
    width: 45px;
    background-color: rgba(175, 238, 238, 0.589);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 20px;
    fill: aqua;
}
.img:hover{
    background-color: aqua;
    fill: white;
}
h3{
    font-family: sans-serif;
}
.pera{
    font-family: sans-serif;
    margin-top: 15px;
}
.line{
    height: 5px;
    width: 70px;
    background-color: aqua;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 25px;
}