*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgba(10, 10, 10, 0.918);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#menu-toggle{
    display: none;
}

.navbar{
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: black;
    color: wheat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    z-index: 1002;
    position: fixed;
}

.logo{
    color: white;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.menu-btn{
    margin-bottom: 50px;
    transition: 0.3s;
    color: white;width: 50px;
    height: 50px;
    width: 50px;
    background: #222;
    align-items: center;
    font-size: 27px;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    display: flex;
}

.menu-btn span{
    position: absolute;
    transition: .3s;
}

.menu-btn .close{
    transform:  rotate(90deg);
    opacity: 0;
}

.menu{
    top: 18;
    left: 0;
    width: 300px;
    height: 650px;
    background-color: black;
    padding: 30px 30px;
    transform: translateX(-100%);
    transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    position: fixed;
    z-index: 1001;
}

.menu a{
    display: flex;
    color: white;
    font-size: 19px;
    margin-bottom: 30px;
    text-decoration: none;
    transition: all 0.3s;
}
.menu a:hover{
    color: aqua;
    transform: translateX(6px);
}

#menu-toggle:checked ~ .menu{
    transform: translateX(0);
}
#menu-toggle:checked ~ .overlay{
    opacity: 1;
    z-index: 999;
}
.overlay{
    position: fixed;
    z-index: -1;
    opacity: 0;
    inset: 0;
    background: rgba(0,0,0,0.5);
}
::selection{
  color: white;
  background-color: rgb(148, 176, 227);
}
h2::first-letter{
  font-size: 3rem;
}
#menu-toggle:checked ~ .navbar .menu-btn .hamburger{
    opacity: 0;
    transform: rotate(-90deg);
}
#menu-toggle:checked ~ .navbar .menu-btn .close{
    opacity: 1;
    transform: rotate(-90deg);
}
#menu-toggle:checked ~ .navbar .menu-btn{
    background: red;
}
.content {
    padding: 120px 40px;
    margin-left: 400px;
    z-index: 2;
}
.content p{
    color: white;
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;   
    margin-right: 250px;
}
.him {
    margin-top: 100px;
}
main{
    margin-bottom: 130px;
   align-content: center;
}
.half{
    color: aqua;
}
h2 {
   margin-left: 140px;
   margin-bottom: 30px;
   font-size: 35px;
   color: white;
}
.btns{
    margin-left: 120px;
    margin-top: 30px;
   padding: 10px 20px;
   display: flex;
   gap: 10px;
}
.btn1 {
    background: aqua;
    padding: 12px 20px;
    border-radius: 25px;
    font-size: 15px;
    border: none;
    font-weight: 900px;
    cursor: pointer;
    transition: all 0.1s;
}
.btn1:hover{
    background-color: white;
}
.btn2 {
    border-radius: 25px;
    padding: 12px 20px;
    background: rgba(10, 10, 10, 0.918);
    border: 1px solid white;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.1;
}
.btn2:hover{
    background-color: white;
    color: black;
}
.container {
    background-color:whitesmoke ;
    text-align: start;
    padding: 100px 80px;
}
.linn {
    width: 60px;
    height: 3px;
    background-color: aqua;
    margin-left: 550px;
    margin-top: 20px;
    margin-bottom: 20px;  
}
.box{
    height: 150px;
    width: 250px;
    background-color: white;
    box-shadow: 1px 1px 7px;
    border-radius: 10px;
    padding-bottom: 20px;
    align-content: center;
    padding-left: 5px;
    padding-right: 5px;
    text-align: start;
    transition: 0.4s;
}
.box:hover{
    transform: translateY(-9px);
}
.boxes{
    display: flex;
    gap: 20px;
    margin-left: 200px;
}
.pi{
    font-size: 14px;
    margin-top: 20px;
    color: rgb(97, 90, 90);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}
.foot{
    color: gray;
    margin-bottom: 30px;
    margin-left: 400px;
}
.hye{
    margin-left: 450px;
}
h4{
    margin-left: 10px;
}
h3{
    font-size: 30px;
    color: aqua;
}
.na {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    z-index: 1002;
    padding-top: 25px ;
    padding-bottom: 25px ;
    text-align: center;
}
p{
    margin-top: 10px;
    color: gray;
    font-size: 15px;
}
.dis{
    padding-top: 60px;
    display: flex;
    justify-content: center;
    gap: 90px;
    margin-bottom: 80px;
    z-index: 2;
}
h6{
    font-size: 25px;
    color: white;
}
span {
    color: aqua;
}
h5 {
    color: white;
    font-size: 15px;
}
.line3{
    height: 1px;
    width: 1300px;
    background-color: gray;
    margin-left: 20px;
    margin-bottom: 30px;
}
.email {
    color: rgba(88, 75, 75, 0.199);
    background-color: rgba(207, 189, 189, 0.158);
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
}
.slesh {
    font-size: 12px;
    color: gray;
    font-weight: bold;
}
.cards {
    display: flex;
    background: white;
    height: 600px;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 80px;
    position: relative;
}
.card-m{
    height: 310px;
    width: 330px;
    background: black;
    color: rgb(218, 204, 204);
    border-radius: 10px;
    padding: 7px;
    text-align: center;
}
.card {
    height: 230px;
    width: 180px;
    background-color: white;
    padding: 20px;
    text-align: center;
    transition: 0.4s;
}
.card:hover{
    transform: translateY(-9px);
}
.btn {
    width: 90px;
    border:1px solid black;
    padding: 8px;
    border-radius: 25px;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover{
    background-color: aqua;
}
.he {
     position: absolute;
     margin-bottom: 450px;
     margin-left: 100px;
}
.line1 {
    width: 50px;
    height: 3px;
    background-color: aqua;
    position: absolute;
    margin-bottom:380px ;
    margin-left: 60px;
}
.btnm{
    position: absolute;
    margin-bottom: 305px;
    margin-left: 70px;
    color: black;
    background: aqua;
    border-radius: 25px;
    padding: 8px;
    width: 110px;
    border: none;
}
.btn-m{
    width: 100px;
    padding: 8px;
    color: black;
    border-radius: 25px;
    background: aqua;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}
.btn-m:hover{
    background-color: white;
}
.pem {
    color: white;
    margin-top: 10px;
}
.pe{
    color: white;
    margin-top: 30px;
    margin-bottom: 10px;
}
.bot {
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
}
.header {
    display: flex;
    gap: 30px;
    position: relative;
    height: 600px;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}
.ho {
   
    text-align: center;
    position: absolute;
    margin-bottom: 470px;
}
.contenti{
    padding-left: 10px;
    padding-top: 20px;
    
}
.line2{
    height: 3px;
    width: 60px;
    background-color: aqua;
    text-align: center;
    position: absolute;
    margin-bottom: 400px;
}
.cardi {
    height: 350px;
    width: 300px;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: 0.4s;
    overflow: hidden;
    border-radius: 10px;
    
}
.cardi:hover{
    transform: translateY(-8px);
     box-shadow: 1px 1px 10px ;

}
.picture {
    height: 150px;
    width: 300px;
    transition: 0.5s ease-in;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.cardi:hover .picture{
    transform: scale(1.1);
}
.rag {
    color: aqua;
    background: black;
    width: 80px;
    border-radius: 25px;
    padding: 5px;
    text-align: center;
}
.rags {
    color: aqua;
    background: black;
    width: 100px;
    border-radius: 25px;
    padding: 5px;
    text-align: center;
    margin-top: 15px;
}
.hn {
    margin-top: 10px;
}
p{
    margin-top: 10px;
    margin-bottom: 20px;
}
.Ai {
    text-decoration: none;
    color: black;
}
.containerr{
    height: 480px;
   background: white;
    justify-items: center;
    align-content: center;
}

.faq-item{
    background-color: rgba(255, 255, 255, 0.288);
    width: 590px;
    display: grid;
}
#faq4,#faq5{
    display: none;
}
.divider{
    height: 4px;
    width: 70px;
    background-color: aqua;
    margin-bottom: 30px;
    margin-top: 20px;
}

.faq-item{
    cursor: pointer;
}
.faq-question {
    display: block;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    position: relative;
    cursor: pointer;
    margin-bottom: 20px;
}
.faq-question::after{
    content: "+";
    position: absolute;
    right: 8%;
    transform: translateY(-50%);
    color: rgb(0, 0, 0);
    transition: transform 0.3s;
    margin-top: 10px;
}
.faq-answers{
    max-height: 0;
    overflow: hidden;
    background: rgb(211, 212, 193);
}
.faq-answer-content{
    padding: 0 20px;
    line-height: 1.6;
    color: #333;
}
.faq-item input[type = "checkbox"]:checked~ .faq-question::after{
    transform: translateY(-50%) rotate(45deg);
}

.faq-item input[type = "checkbox"]:checked~ .faq-answers{
   max-height: 500px;
   padding: 10px 0;
}