*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f4f4f4;
}

#menu-toggle{
    display: none;
}

.navbar{
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: black;
    color: wheat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.logo{
    color: white;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.menu-btn{
    width: 50px;
    height: 50px;
    background: #222;
    align-items: center;
    font-size: 27px;
    justify-content: center;
    cursor: pointer;
    border-radius: 8px;
    position: relative;
    transition: 0.3s;
    color: white;
    display: flex;
}

.menu-btn span{
    position: absolute;
    transition: .3s;
}

.menu-btn close{
    transform:  rotate(90deg);
}