#featured-projects{
   height: 650px;
   /* margin-top: 300px; */
}
.container{
 display: flex;
    justify-content: center;
    /* text-align: center; */
}

.feature{
    margin-top: 90px;
    width:280px;
    height: 350px;
    gap: 400px;
    background-color: white;
    margin-left: 20px;
    overflow: hidden;
    transition: 0.3s;
}
.feature:hover{
    transform: translateY(-8px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);

}

.img{
    width: 280px;
    height: 170px;
    object-fit: cover;
    transition: 0.5s ease-in;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.feature:hover .img{
    transform: scale(1.1);
}

.but{
    background-color: black;
    color: aqua;
    border: none;
    padding: 5px;
    border-radius: 20px;
    width: 80px;
    margin-top: 16px;
   margin-inline-end: 170px;
   letter-spacing: 1px;
}

.feature, h3{
    margin-top: 10px;
    font-size: 15px;
    margin-right: 90px;
}

.feature p{
    color: grey;
    text-align: start;
    margin-left: 15px;
    margin-top: 10px;
    font-size: 14px;
}

.viewlink{
    text-align: start;
    margin-left: 16px;
    font-weight:600;
    transition: 0.3s;
    cursor: pointer;
    color: black;
}
.viewlink:hover{
    color: aqua;
}
#FAQ{
   height: 480px;
}
.containerr{
 display: flex;
    justify-content: center;
    text-align: start;
    gap: 200px;
}

.faq-item{
    background-color: rgba(255, 255, 255, 0.288);
    width: 590px;
    display: grid;
    justify-content: center;
    align-items: center;
}
#faq4{
    display: none;
}

.faq-item{
    cursor: pointer;
}
.faq-question{
    display: block;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    position: realtive;
    cursor: pointer;
}
.faq-question:hover{
    background-color:rgb(0, 255, 225);
}
.faq-question::after{
    content: "+";
    position: absolute;
    right: 28%;
    transform: translateY(-50%);
    color: rgb(0, 0, 0);
    transition: transform 0.3s;
    margin-top: 10px;
}
.faq-answers{
    max-height: 0;
    overflow: hidden;
    background: rgb(211, 212, 193);
}
.faq-answer-content{
    padding: 0 20px;
    line-height: 1.6;
    color: #333;
}
.faq-item input[type = "checkbox"]:checked~ .faq-question::after{
    transform: translateY(-50%) rotate(45deg);
}

.faq-item input[type = "checkbox"]:checked~ .faq-answers{
   max-height: 500px;
   padding: 20px 0;
}
