* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #252525;
    font-family: inter, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
}

#menu-toggle {
    display: none;
}

.navbar {
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: black;
    color: wheat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 1002;
    position: fixed;
}

.logo {
    color: white;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
}
span{
    color: rgb(0, 183, 255);
}
.menu-btn {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: #222;
    align-items: center;
    font-size: 27px;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
    color: white;
    display: flex;
}

.menu-btn span {
    color: white;
    position: absolute;
    transition: .3s;
}

.menu-btn .close {
    transform: rotate(90deg);
    opacity: 0;
}

.menu {
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: black;
    padding: 100px 30px;
    transform: translateX(-100%);
    transition: .4s cubic-bezier(0.075, 0.82, 0.165, 1);
    position: fixed;
    z-index: 1001;
}

.menu a {
    display: block;
    color: white;
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 400;
    transition: 0.3s ;
}

#menu-toggle:checked~.menu {
    transform: translateX(0);
}

#menu-toggle:checked~.navbar .menu-btn .hamburger {
    opacity: 0;
    transform: rotate(-90deg);
}


#menu-toggle:checked ~ .navbar .menu-btn .close {
    opacity: 1;
    transform: rotate(0);
}

#menu-toggle:checked~.navbar .menu-btn {
    background: red;
}

.content {
  display: grid;
  justify-content: center;
  text-align: center;
    padding: 120px 40px;
    max-width: 800px;
    margin: 0 auto;
}

.content h1{
    margin-bottom: 20px;
    color: #ffffff;
    margin-left: 150px;
    width: 280px;
    font-size: 40px;
}

.content p{
    line-height: 1.9;
    color: #ffffff;
    width: 550px;
}
.btn{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
    margin-top: 30px;
}
.btn1{
    width: 130px;
    height: 50px;
    padding: 14px;
    border-radius: 25px;
    border: none;
    background-color: rgb(0, 183, 255);
    font-weight: 600;
    letter-spacing: 1px;
    transition:  0.3s;
    cursor: pointer;
}
.btn1:hover {
    background-color: white;
    color: black;
}
.btn2{
    background-color: black;
    border: 2px solid white;
    color: white;
    transition: 0.3s;
    border-radius: 25px;
    width: 130px;
    cursor: pointer;
    transition: 0.3s;
}
.btn2:hover {
    background-color: white;
    transform: translateY(-3px);
}

::selection{
  color: white;
  background-color: rgb(148, 176, 227);
}

h1::first-letter{
  font-size: 3rem;
}

.menu a:hover{
    color: aqua;
    padding-left: 10px;
}

.overlay{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.5);
  opacity:0;
  transition:.4s;
  z-index: 999;
}

#menu-toggle:checked ~ .overlay {
    opacity: 1;
}
.rating{
    background-color: black;
   height: 180px;
   color: white;
   display: flex;
   justify-content: center;
   justify-content: space-evenly;
   align-items: center;
   text-align: center;
   /* border: 1px solid white; */
}
/* .item-card{
   margin-left: 50px;
} */
.item-card h3{
    color: rgb(0, 183, 255);
    margin-bottom: 15px;
    font-size: 30px;
} 
.item-card p{
    color: rgb(181, 181, 181);
}

section{
    background-color: whitesmoke;
    height: 450px;
}
 h2{
    font-size: 35px;
    display: flex;
    padding-top: 90px;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
}
.divider{
    height: 3px;
    width: 50px;
    background-color: aqua;
    margin: 20px auto;
}
.container{
    /* width: 280px;
    height: 280px; */
    display: flex;
    margin-top: 30px;
    justify-content: center;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
}
.container:hover{
       transform: translateY(-8px);
}
.card{
    /* display: grid; */
    justify-content: center;
    background-color: aliceblue;
    width: 300px;
    height: 190px;
    margin-left: 20px;
    text-align: center;
    text-align: start;
    border-radius: 16px;
    padding: 35px;
    box-shadow: 2px 2px 15px ;
}

.card p{
    margin-top: 19px;
    color: grey;
}
footer{
    display: flex;
    color: rgb(212, 209, 209);
    justify-content: center;
    align-items: center;
    height: 90px;
}

@media (max-width: 850px)
{
    .CSS Hamburger Sidebar{
        grid-template-columns: repeat(2, 1fr);
    }

    .main, .section, .footer{
        grid-column: span 2;
    }
}