.box{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: start;
    gap: 20px;
}

.box1{
    margin-top: 60px;
    background-color: rgb(255, 255, 255);
    width: 450px;
    height: 140px;
    border-radius: 20px;
    padding: 20px;
   border-left:  4px solid aqua;
}
.box1 p{
    font-style: italic;
    padding: 4px;
    color: grey;
    font-size: 14px;
}
.box1:hover{
    transform: translateY(-9px);
}

.scaled{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.form-scale{
    background-color: rgb(255, 255, 255);
    width: 400px;
    border-radius: 20px;
    height: 300px;
    padding: 40px 20px;
    margin-bottom: 30px;
}
.form-scale input{
    background-color: white;
    width: 100%;
    padding: 16px 14px;
    border-radius: var(--radius-md);
    border: 1px solid grey;
    font-size: 14px;
    outline: none;
    border: none;
}

.field{
     position: relative;
    color: gray(255, 0, 0);
}
.field input,
.field textarea{
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid black;
}

label{
    position: absolute;
    left: 0;
    top: 10px;
    pointer-events: none;
    transform: translateY(-50%);
    font-size: 15px;
    color: var(--text-muted);
    /* padding: 0 6px; */
    transition: 0.2s;
}

.field input:focus + label,
.field input:valid + label,
.field textarea:focus + label,
.field textarea:valid + label {
     font-size: 15px;
     top: -20px;
     font-size: 0.8rem;
     color: aqua;
}
.field input:focus,
.field textarea:focus{
     border-bottom-color: aqua;
}

.form-scale button{
    display: grid;
    background-color: aqua;
    border: none;
    width: 350px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
}
.line{
   height: 1px;
    width: 350px;
    background-color: rgb(75, 75, 75);
}

.theory-scale span{
        margin-top: 10px;
        display: grid;
        background-color: black;
        width: 120px;
}
.theory-scale p{
     margin-left: 17px;
    color: grey;
}
.theory-scale h1{
    margin-right: 61%;
}
/* .li {
    height: 1px;
    width: 100%;
    background-color: gray;
} */