*{
    margin: 0;
    padding: 0;
box-sizing: border-box;

}

body{
    font-family: sans-serif;
color: white;
width: 100vw;
}

nav{
    background: rgba(0, 0, 0, 1);
    padding: 10px 20px 0px ;
    font-weight: 900;
    position: fixed;
    width: 100vw;
    top: 0px;
    left: 0px;
    z-index: 5;
}

.label label:first-child{
    color: white;
    font-size: 25px;
}

.label label:last-child{
    color: aqua;
        font-size: 25px;
}


.text{
    height: 100vh;
   display: flex;
   flex-direction: column;
  justify-content: center;
    align-items: center;

}

h1{
    width: 450px;
    font-size: 50px;
    text-align: center;
    font-weight: 600px;
}


p{
    width: 800px;
    color: rgba(255, 255, 255, 0.868);
    font-size: 25px;
    text-align: center;
margin:15px 0px 45px ;
}
.nav{
    display: flex;
    position: relative;
}
.header{
    background-color: rgb(55, 53, 53);
}
.container{
    background-color: rgb(55, 53, 53);
    height: 100vh;
    width: 100vw;
}
.menu label:last-child{
    position: absolute;
    border-radius: 50%;
    text-align: center;
    position:relative;
    left: 965px;
    top: -8px;
    background-color: rgba(80, 74, 74, 0.612);
    height: 10px;
    padding:0px 15px 5px ;
    font-size: 30px;
}

.btn1{
    background-color: rgba(22, 22, 22, 0.667);
    padding: 10px 20px;
    color: rgb(245, 241, 241);
    border: 2px solid rgb(196, 186, 186);
    border-radius: 999px;
        margin-left: 5px;
        cursor: pointer;

}

.btn2{
     background-color:rgba(0, 255, 255, 0.687);
    padding: 10px 20px;
    color: rgb(245, 241, 241);
    border-radius: 999px;
    border: none;
        margin-right: 5px;
        cursor:pointer;

}

#hamburger:checked ~ .container {
  overlay: .5;
}
#hamburger:checked ~ .container .hamburger{
    visibility: visible;
}


#hamburger:checked ~ .container .asd{
    transform: rotate(45deg);
}

.hamburger{
    position: absolute;
    top: 42px;
    left: -20px;
    visibility: hidden;
    background-color: rgb(0, 0, 0);
height: 100vh;
width: 300px;
}
#plus{
    opacity: 0;
  height: 45px;
  padding-top: 5px;
    width: 45px;
    background-color: red;
    position: absolute;
    right: 40px;
    border-radius:50%;
    bottom: 5px;
    cursor: pointer;
}


#hamburger:checked ~ .container  #plus{
    opacity: 1;
}
#hamburger:checked ~ .container  .menu label:last-child{
    
   opacity: 0;
}


h2{
    font-size: 30px;
    transition: 1s ease-out;
    text-align: center;
}




h3{
    margin-left: 30px;
    line-height: 40px;
   
}

h3:hover{
    transition: 1s ease;
    margin-left: 50px;
    color: aqua;
}

.footer{
    background-color: black;
    height:30vh ;
display: flex;
justify-content: space-between;
text-align: center;
width: 100vw;
/* position: absolute; */
z-index: 2;
padding: 5vh 60px 0px 60px;
}

.footer h5{
color: aqua;
font-size: 40px;
display: block;
    width: 18vw;


}
.footer p{
    font-size: 20px;
        width: 18vw;

}





.special{
    height: fit-content;
    background-color: rgba(139, 159, 255, 0.169);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

pre{
    z-index: 6;
    font-size: 40px;
    text-align: center;
    width: 100vw;
    
}
.label #pre{
    width: 20px;
    height: 50px;
}
hr{
    margin: 10px 0px 30px;
opacity: .3;    }
#line{
    
    width: 60px;
    height: 6px;
    background-color: aqua;
    margin-top: 30px;
}

.cont{
    background-color: rgba(255, 255, 255, 0.568);
    border-radius: 20px;
    width: 350px;
    padding: 20px;
    margin: 50px 10px 10px ;
    transition: .5s ease;
}


.cont:hover{
margin-top: 20px;
}
.cont p{
    color: rgba(0, 0, 0, 0.461);
    text-align: start;
    width: 310px;
    font-size: 20px;
}

.boxes{
    display: flex;
}

h4{
    font-size: 25px;
}




pre{
    font-size: 15px;
    color: rgba(211, 206, 199, 0.758);
}
.firstc h4{
    text-align: start;
}

.firstc label{
    font-size: 25px;
    font-weight: 600;
}

.firstc p{
    display: none;
color: black;
text-align: left;
}

#first:checked ~ .container .firstc #p1{
    display: flex;
}
#first:checked ~ .container  .common #line{
    margin-left: 28vw;
}
#second:checked ~ .container  .common #line{
    margin-left: 28vw;
}

.footer2{
    bottom: 0px;
    bottom: 0;
    left: 0px;
    background: black;
    padding:30px 20px  ;
}



.firstc{
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
    margin: 10px 0px;
    background-color: white;
}


#second:checked ~ .container #p2{
    display: flex;
}
h4{
    margin-top: 50px;
    font-size: 35px;
}
.hero1{
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
}
.thew p{
    color: rgb(81, 77, 77);
    text-align: start;
    width: 550px;
    font-size: 15px;


}
.thew{
    margin-top: 10vh;
    border-radius: 30px;
    box-shadow: -8px 0px 0px aqua;
    width: 600px;
    padding: 20px;
    margin-bottom: 50px;
    height: 200px;


}

.thew:hover{
    scale: 1;
    margin-top: -1px;
}
.thew h4{
    margin-top: -20px;
    font-size: 22px;
    text-align: start;
}






.ready h2{
    color: rgb(36, 35, 35);
    font-size: 25px;
    font-weight: 800;
    width: 130px;
    height: 40px;
    line-height: 30px;
}
.ready pre{
      color: aqua;
      background-color: black;
    font-size: 25px;
    padding-top: 4px;
    height: 40px;
    width: 100px;
    font-weight: 900;
}

.ready p{
    text-align: start;
    color: rgb(67, 65, 65);
    font-size: 15px;
    width: 44vw;
    line-height: 25px;
}

.hero2{
    margin-top: 20vh;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}
.ready{
    margin-top: 33vh;
        width: 45vw;
}


.form1
{
    padding: 50px;
    height: 70vh;
    width: 45vw;
    background-color: white;
    border-radius: 20px;

}

.hero2 label{
    position: absolute;
    margin:-40px 22px ;
    color: gray;
    
}
    .form1 input{
        height: 60px;
        outline: none;
        padding: 20px;
        border: none;
    border-bottom: 2px solid gray;
        display: block;
        width: 90%;
        margin-top: 30px;
    }
   
    .form1 button{
        height: 50px;
        background-color: aqua;
        border: none;
        width: 90%;
        border-radius: 999px;
        margin-top: 40px;
    }

.form1 input:focus{
    border-bottom: 3px solid aqua;
    
}

  .form1 input:focus + label,
  .form1 input:focus +label,
  .form1 input:focus textarea:focus+label,
  .form1 input:focus textarea:valid+label
  {
        margin-top: -78px;
        color: aqua;
    }
    


    .f3{
    display: grid;
    height: 35vh;
    padding-top: 7vh;
    width: 90%;
    margin-left: 5%;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-evenly;
}
.f3 h2{
    color: white;
      width: fit-content;
    height: fit-content;
    padding: 0;
    margin: 0;
    font-size: 20px;
} 
.f3 p{ color: rgb(144, 140, 140);
      width: fit-content;
    height: fit-content;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 35px;
    margin-top: 10px;

}
.f3 input{
    background-color: rgb(76, 72, 72);
border: none;
outline: none;
height: 10px;
padding: 20px;
border-radius: 5px;
width: 230px;}
#pr{
    text-align: start;
    width: 210px;
    font-size: 14px;
    line-height: 20px;
    margin-top: 20px;
}


.header {
    display: flex;
    gap: 30px;
    position: relative;
    height: 600px;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}
.ho {
   
    text-align: center;
    position: absolute;
    margin-bottom: 470px;
    color: black;
}
.contenti{
    padding-left: 10px;
    padding-top: 20px;
    
}
.line2{
    height: 3px;
    width: 60px;
    background-color: aqua;
    text-align: center;
    position: absolute;
    margin-bottom: 400px;
    
}
.card {
    height: 450px;
    width: 300px;
    background-color: white;
    border-top-left-radius: 20px;
    border-radius: 20px;
    border-bottom: 10px;
    transition: 0.4s;
    overflow: hidden;
    margin-top: 10%;
    
}
.card:hover{
    transform: translateY(-8px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);

}
.picture {
    height: 200px;
    width: 300px;
    transition: 0.5s ease-in;
    object-fit: cover;
   
}
.card:hover .picture{
     transform: scale(1.1);
      
}


.rag {
    color: aqua;
    background: black;
    width: 80px;
    border-radius: 25px;
    padding: 5px;
    text-align: center;
}
.rags {
    color: aqua;
    background: black;
    width: 100px;
    border-radius: 25px;
    padding: 5px;
    text-align: center;
    margin-top: 15px;
}
.hn {
    margin-top: 10px;
}

.hn h4{
    color: black;
}
p{
    margin-top: 10px;
    margin-bottom: 20px;
    
}
.Ai {
    text-decoration: none;
    color: black;
    margin-top: 50px;
    line-height: 5;
    
}


.containerr {
    background: rgb(247, 227, 227);
    display: grid;
    place-items: center;
    gap: 20px;
    padding: 40px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}




.App{
    color: aqua;
    background: black;
    width: 80px;
    border-radius: 25px;
    padding: 5px;
    text-align: center;
}

.hm {
    color: black;
    font-size: small;
    margin-top: 15px;
    font-size: larger;
}

 p{
    

    color: grey;
    font-size: medium;
    width: fit-content;
    margin-top: 40px;
    margin-right: 50px;
}

.text2{
    height: 40vh;
   display: flex;
   flex-direction: column;
  justify-content: center;
    align-items: center;

}