*{
    margin: 0;
}
body{
    background-color:#101829 ;
    color: white;
}
.head{
    font-family: sans-serif;
}

.container{
    margin-top: 30px;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.card{
    width: 260px;
    height: 200px;
    background-color:#19191c;
    text-align: center;
    border: 1px solid grey;
    border-radius: 10px;
    align-content: center;
    transition: all 0.2s;
    cursor: pointer;
}
.card:hover{
     transform: scale(1.1)
}
p{
    color: grey;
    margin-bottom: 10px;
    text-align: center;
}
.img{
    margin-top: 10px;
    width: 50px;
    margin-bottom: 10px;
}
.sect{
    margin-top: 80px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.yc{
    margin-left: 20%;
    margin-bottom: 38px;
}
.we{
    font-size: smaller;
    color: rgb(214, 214, 214);
    font-size: 20px;
    font-family:Geneva, sans-serif;
    /* font-size: 15px; */
}
h3{
    margin-bottom: 10px;
}
