body{
    background-color: #fcfaf7;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: serif;
}

.card{
    background-color: white;
    padding: 60px;
    text-align: center;
    border: 1px solid rgb(161, 160, 160);
    box-shadow: 0 4px 15px;
}


.top-text{
    letter-spacing: 5px;
    font-size: 12px;
    color: #999;
}

h1{
    font-size: 32px;
    font-weight: normal;
    margin: 20px;
}

.divider{
    height: 1px;
    width: 50px;
    background-color: rgb(238, 149, 15);
    margin: 20px auto;
}

.date{
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.location{
    font-size: 14px;
    color: #555;
}

.note{
    font-style: italic;
    color: #888;
    margin-top: 30px;
}