*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}
body{
background: rgba(3, 33, 166, 0.13);
font-family: sans-serif;
}

.container{
    position: relative;
    
    height: 100vh;
}




.text{
    margin: 20px 0 0 30px;
    width: 550px;

    transition: 2s ease;

}


.text:hover{
    
opacity: 0;
}


.text h2{
    line-height: 80px;
}
.text p{
    line-height: 25px;
}



#toggle:checked ~ .container .menu{
    opacity: 1;
}


#toggle:checked ~ .container .text{
    transition: 3s ease-out;
    margin-left: 210px;
    position: absolute;
    top: 30px;
}

#toggle:checked ~ .container #menu-bar{
    width: 100vw;
    font-size: 100px;
    padding: 100vw;
    opacity: 0;
    height: 100vh;
    cursor:auto;
}

.menu{
    background-color: rgba(0, 0, 0, 1);
    position: absolute;
    height: 100vh;
    width: 200px;
 top: 0;
opacity: 0;
}


#menu{
      color: white;
    background-color: red;
   padding: 0 10px 5px;
   width: 40px;
   font-size: 30px;
   text-align: center;
   border-radius: 5px;
   margin-top:20px ;
   margin-left: 20px;
   position: absolute;
   top: 0px;
   left: 5px;
}

.scale{
    color: white;
    line-height: 35px;
}

.scale:hover{
    transition: 1.5s ease;
    color: aqua;
    margin-left: 20px;
        cursor: pointer;

}
.top{
    margin: 70px 0 0 30px;
}


#toggle:checked ~ .container{
    background-color: rgba(0, 0, 0, 0.419);
}

#menu-bar{
    margin-top: 20px;
       color: white;
    background-color: black;
   padding: 5px 10px;
   width: 40px;
   font-size: 30px;
   text-align: center;
   border-radius: 5px;
position: relative;
top: 20px;
cursor: pointer;
left: 25px;
}


h4{
display: inline-block;
    cursor: pointer;
    transition: transform 1s ease;
}

#toggle:checked  ~ .container h4
{
    transform: rotate(45deg);
}


