* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(17, 16, 16);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-left: 200px;
    padding-right: 200px;
    min-height: 100vh;
    position: relative;
}

.container{
    display: grid;
    width: 100%;
    gap:16px;
    position: relative;
    padding: 100px;
}
.content1 {
    display: flex;
    gap: 15px;
}
.content2 {
    display: flex;
    gap: 15px;
}
.content3{
    display: flex;
    gap: 0;
    position: relative;
}
.card {
    height: 100px;
    width: 175px;
    background-color: rgba(37, 37, 37,0.9);
    color: white;
    border-radius: 10px;
    font-size: 12px;
    padding-left: 15px;
}
span {
    color: blueviolet;
}
.img {
    height: 180px;
    width: 180px;
    border-radius: 10px;
}
.card1 {
    background-color: rgba(37, 37, 37,0.9);
    height: 350px;
    width: 360px;
    color: white;
    border-radius: 10px;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 14px;
    position: relative;
}
h1{
    margin-top: 20px;
}
p{
    margin-top: 15px;
}
h3 {
    margin-top: 10px;
}
.sep {
    background-color: rgba(40,40,40,0.9);
    width: 90px;
    padding: 6px;
    border-radius: 15px;
    font-size: 11px;
    margin-bottom: 60px;
    color: white;
}
#me {
    margin-bottom: 10px;
}
.card2 {
    height: 450px;
    width: 175px;
    background-color: rgba(37, 37, 37,0.9);
    border-radius: 10px;
    font-size: 12px;
    padding-left: 10px;
    padding-top: 10px;
    color: white;
}
.head {
    font-size: 12px;
}
ul {
    margin-left: 25px;
    margin-top: 15px;
}
.dis {
    background-color: rgba(40,40,40,0.9);
    padding: 7px;
    border-radius: 15px;
    margin-right: 10px;
}
.card3 {
    width: 360px;
    height: 150px;
    background-color: rgba(37, 37, 37,0.9);
    border-radius: 10px;
    margin-top: -11%;
    font-size: 12px;
    color: white;
    padding-left: 10px;
    padding-top: 10px;
}
.card4 {
    height: 160px;
    width: 175px;
    background-color: rgba(37, 37, 37,0.9);
    margin-left: 18px;
    border-radius: 10px;
    font-size: 12px;
    color: white;
    padding-left: 10px;
    padding-top: 10px;
}
h3 {
    font-size: 11px;
}
button {
    width: 90%;
    margin-top: 10px;
    padding: 5px;
    border-radius: 8px;
    color: white;
    background-color: rgb(143, 84, 199);
}
.pera {
    width: 100px;
    padding: 3px;
    background-color: white;
    border-radius: 6px;
    color: black;
}
