*{
    margin: 0;
    padding: 0;
}

body{
     /* background-color: whitesmoke; */
     /* background: #f9fafc; */
     background: linear-gradient(180deg, #ffffff,#b0a7f3);
      align-items: center;
     min-height: 100vh;
}
nav{
    background-color: rgb(153, 153, 234);
    padding:15px;
}
a{
    color: black;
    transition: all 0.1s;
    cursor: pointer;
    text-decoration: none;
    font-weight: 800;
}
a:hover{
    /* color: white; */
    color: #374151;
}
.container{
    margin-top: 70px;
    margin-left: 120px;
    padding-left: 45px;
    padding-right: 60px;
} 
.container2{
     margin-top: 70px;
    margin-left: 400px;
   background-color: rgb(212, 212, 255);
    width: 400px;
    height: 200px;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgb(105, 105, 229);
}
head{
    margin-bottom: 10px;
}
h1{
    margin-bottom: 20px;
}
.courses{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    justify-content: space-between;
}
.card{
    background-color: rgb(212, 212, 255);
    width: 290px;
    height: 130px;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-top: 10px;
    /* display: inline-block; */
    /* margin-left: 20px; */
    transition: all 0.1s;
    box-shadow: 2px 2px 10px rgb(153, 153, 234);
    border-color: rgb(105, 105, 229);
} 
.card:hover{
    transform: translateY(-3px);
}
h3{
    font-size: 20px;
    margin-bottom: 10px;
}
p{
    margin-bottom: 15px;
    /* color: grey; */
    color: #6b7280;
    font-size: 14px;
    font-style: italic;
}
.dur{
    color: black;
   font-style: normal;
   margin-bottom: 20px;
   font-size: 20px;
}
.btn{
    background-color:rgb(234, 247, 247);
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 8px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
}
.btn:hover{
    color: grey;
}
.card-enroll{
      background-color: rgb(212, 212, 255);
        width: 310px;
        height: 210px;
        margin-left: 30%;
        border-radius: 10px;
        text-align: center;
        padding: 25px;
        box-shadow: 2px 2px 10px rgb(153, 153, 234);
        border-color: rgb(105, 105, 229);
 }
 input{
    width: 270px;
    margin: 6px;
    padding: 10px;
 }
select{
    width: 290px;
    margin: 6px;
    padding: 10px;
    background-color: rgb(153, 153, 234);
}
.bt{
     width: 290px;
     margin: 6px;
     padding: 9px;
     background-color:rgb(234, 247, 247);
     box-shadow: 3px 2px 10px rgb(219, 241, 241);
     border: none;
     border-radius: 10px;
     cursor: pointer;
     transition: 0.2s;
     font-size: 15px;
     border: 1px solid rgb(105, 105, 229);

}
.bt:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(203, 159, 244);
}
.en{
    margin-top: 5%;
    margin-left: 30%;
}
.card-success{
    width: 320px;
    height: 270px;
    background-color: rgb(153, 153, 234);
    margin-top: 20px;
    text-align: center;
    border-radius: 10px;
    margin-top: 9%;
    padding: 20px;
    margin-left: 35%;
     box-shadow: 2px 2px 10px rgb(153, 153, 234);
        border-color: rgb(105, 105, 229);
}
.img{
    margin-top:10px ;
    width: 80px;
}
.you{
    color: rgb(0, 0, 0);
}
.thx{
    color: rgb(255, 255, 255);
    font-style: normal;
    margin-bottom: 20px;
    font-size: 17px;
}

@media(max-width: 480px){
 .heading{
    font-size: 1.6rem;
 }

 .card{
    padding: 20px;
 }
}





