*{
    box-sizing: border-box;
  
}body{
    background-color: rgb(248, 247, 245);
}
nav{
    background: rgba(31, 30, 30, 0.977);
    padding: 5px;
    margin: 0;
    width: 100vw;
    position: absolute;
    top: 0px;
    left: 0px;
}
.courses{
    display: flex;
    justify-content: space-between;
}

.card{
    background-color: white;
    width: 250px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px;
}
.shiva{
    width: 62vw;
    margin:30px 22% ;
}
a{
    text-decoration: none;
    color: white;
}
.btn{
    background-color: blue;
    padding: 5px;
    border-radius: 5px;
}
h1{
    margin-top: 100px;
}
.container-{
    margin-left: 20%;
    box-shadow: 2px 2px 5px;
    padding: 0 0 20px 20px;
    border-radius: 20px;
    width: 400px;
}