* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: whitesmoke;
    justify-items: center;
}
nav {
    width: 100%;
    background-color: rgb(90, 168, 179);
    padding: 12px;
}
a {
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
    font-size: 18px;
}
.container {
    height: 300px;
    width: 300px;
    background-color: powderblue;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin-top: 100px;
    box-shadow: 3px 2px 10px powderblue;
    transition: 1.5s;
}
.container:hover{
transform: translateY(-8px);
}
.img {
    height: 80px;
    margin-top: 20px;
}
h1 {
    font-family: sans-serif;
    font-size: 25px;
    margin-top: 10px;
}
p {
    font-family: sans-serif;
    font-size: 15px;
    margin-top: 10px;
    color: gray;
}
button {
    margin-top: 15px;
    width: 120px;
    padding: 5px;
    border-radius: 6px;
    border: none;
    background-color: rgb(117, 117, 158);
    box-shadow: 3px 2px 10px rgb(117, 117, 158);
    color: white;
    cursor: pointer;
    font-size: 15px;
}
button:hover {
    background-color: rgb(46, 197, 46);
}